.responsive-nav-widget {
  a,
  #toggle-nav {
  	@include type-setting(1, $bfs, $scale);
  	@include solid(transparent, transparent, $enfasis-1, $enfasis-2, $blh * 0.5 $blh);
  	text-transform: uppercase;
  }

  #toggle-nav {
  	border: none;
  	outline: none;
  }

  li {
  	margin-bottom: 0;
  	padding: 0;
  }
	
	nav {
		a {
	  	@include solid($bg-1, $bg-1, $text-1, $text-2, $blh * 0.5 $blh);
			display: block;
			text-decoration: none;
			font-family: $titles-font-family;  	
	  }
	}
	
	.logo-button-container {
		display: flex;

		a {
			padding: 0;
			height: $blh * 3;
			margin-right: auto;
		}

		img {
	  	display: inline-block;
	  	height: $blh * 3;
	  	padding: $blh * 0.5 $blh;
	  }
	}

	.social-links {
		display: flex;
		justify-content: flex-end;
		background-color: $enfasis-1;

		li {
			width: $blh * 2;
			flex: 0 0 auto;

			a {
				padding: $blh * 0.5 0;
				text-align: center;
			}
		}
	}

	@media screen and (min-width: $bp-nav) {
		display: flex;

		> nav {
			order: 2;
			flex: 1 0 auto;

			ul {
				display: flex;
				justify-content: flex-end;
				height: 100%;

				li,
				a {
					height: 100%;
				}

				li {
					display: inline-block;
					width: auto;
					flex: 0 0 auto;
				}

				a {
					display: inline-block;
					line-height: $blh * 2;
					text-align: center;
				}
			}
		}

		.social-item {
			margin-left: auto;
		}

		.social-links {
			a {
				width: $blh * 2;
			}
		}

		> div {
			order: 1;
			flex: 0 0 auto;
		}

		#toggle-nav {
			display: none;
		}
	}
  
}