.share-widget {
	padding-top: $blh;

	i {
		@include solid($enfasis-1, $enfasis-2, $text-4, white, 0);
		@include circle($blh * 2);
	}

	a {
		display: inline-block;
	}

	li {
		padding: 0 $blh * 0.5;
		
		@media screen and (min-width: $bp1) {
			text-align: center;	
		}
	}

	ul {
		display: flex;
		padding: 0 $blh * 0.5;

		@media screen and (min-width: $bp1) {
			flex-direction: column;
		}

		@media screen and (min-width: $bp2) {
			flex-direction: row;
		}
	}

	@media screen and (min-width: $bp1) {
    padding: $blh * 2 0 $blh;
  }

  @media screen and (min-width: $bp2) {
    padding: $blh * 3 0 $blh * 2;
  }

  @media screen and (min-width: $bp3) {
    padding: $blh * 4 0 $blh * 3;
  }

  @media screen and (min-width: $bp3) {
    padding: $blh * 5 0 $blh * 4;
  }
}