* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include centered($text-max-width);
  @include box($blh);
}

h1 {
  max-width: $text-max-width * 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h2 {
  margin-bottom: $blh * 0.5;

  &:after {
    content: "";
    display: block;
    width: $text-max-width * 0.25;
    height: 1px;
    margin: 0 auto;
    margin-top: calc(#{$blh * 0.5} - 1px);
    background-color: $enfasis-1;
  }

  @media screen and (min-width: $bp1) {
    &:after {
      width: $text-max-width * 0.5;
    }
  }
}

p {
  text-align: justify;
}

.abstract,
.article-content {
  padding-top: $blh;
}

.abstract {
  @media screen and (min-width: $bp1) {
    padding: $blh * 5 0 $blh * 4;
  }

  @media screen and (min-width: $bp2) {
    padding: $blh * 10 0 $blh * 9;
  }
}

.article-content {
  img {
    object-position: bottom;
  }

  @media screen and (min-width: $bp1) {
    padding: $blh * 2 0 0;
    display: flex;
    flex-flow: row nowrap;
    
    figure,
    .section-content {
      width: 50%;
      flex: 0 0 auto;
    }
  }
}

.more {
  text-align: center;

  a {
    text-decoration: underline;
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
  @include centered($bp1);

  @media screen and (min-width: $bp1) {
    @include centered($bp2);
  }
}

header {
  @media screen and (min-width: $bp-nav) {
    padding-top: $blh;
  }
}

main {
  header {
    @media screen and (min-width: $bp-nav) {
      padding-top: 0;
    }
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;

  &::before {
    content: none !important;
  }
}

li {
  @include box($blh);
}

.list-texts {
  list-style-type: disc;
  padding-left: $blh * 2;
}

figure {
  @include centered($text-max-width);

  @media only screen and (min-width: $bp2) {
    margin-left: 0;    
  }  
}

footer {
  padding-top: $blh;
  
  p {
    text-align: center;
    @include centered($bp1);
    @include box($blh);
    
    .logo {
      display: inline;
      height: $blh;
      width: auto;
      vertical-align: middle;
    }
  } 
}