/* COLORS */
$enfasis-1:  	#11977e;
$enfasis-2: 	#17CCAA;
$bg-1:       	white;
$bg-2:      	black;
$text-1:     	hsla(0%, 0%, 0%, 0.5);
$text-2:   		hsla(0%, 0%, 0%, 0.9);
$text-3:    	hsla(100%, 100%, 100%, 0.8);
$text-4:    	white;

/* FONTS */
/* Families */
$fonts-url:           'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700';
$default-font-family: "Open Sans", sans-serif;
$titles-font-family:  "Roboto", sans-serif;

/* Weights */
$normal-fw: 400;
$bold-fw:   700;

/* VERTICAL RHYTHM */
$bfs:     1rem;
$spacing: 1.5;
$scale:   1.2;
$blh:     $bfs * $spacing;

/* LAYOUT */
$text-max-width: $bfs * 37;

/* BREAK POINTS */
$bp1: 		$text-max-width * 1.5;
$bp2: 		$text-max-width * 2;
$bp-nav: 	800px;

/* OTHERS */
$aside-base-width: $blh * 6;